html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #181818; /* Dark background */
    color: #f5f5f5;      /* Light text */
}
.cinematic-navbar {
    background-color: #111;
}
.nav-link {
    color: white !important;
}
/* 
footer {
  background: transparent;
  border-top: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(5px);
} */